body{
    min-height: 100vh;
    @extend %roboto-400;
    font-size: 16px;
    font-style: normal;
    line-height: 40px;
    color: #252420;
    background-color: #f9fbfa;
}
button,
label,
select,
option{
  cursor: pointer;
}
::selection {
  background: #f35a3a;
  color: #fff;
}
.container{
    padding: 0 60px;
    margin: 0 auto;
}
.block{
  padding: 25px 30px;
}
.btn{
  border: 0;
  padding: 0;
  font-size: 0;
  background-color: transparent;
  padding: 14px 35px;
  border: 2px solod transparent;
  &:hover{
    border: 2px solid rgb(209, 25, 102);
  }
}
.hide{
  display: none;
}
.show-block{
  display: block;
}
.modal-close{
  font-size: 40px;
  color: #000;
  padding: 0 10px;
  cursor: url(../images/cursor.png),pointer;
  &:hover{
    color: #e94744;
  }
}
.red{
  background: #e84643;
  &:focus,
  &:hover{
    border: 2px solid #0078ff;
  }
}
.green{
  background: #1d9442;
  &:focus, 
  &:hover{
    border: 2px solid #0078ff;
  }
}
.visible{
  opacity: 1;
}
.hidden{
  opacity: 0;
}

    