.editor{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.top{
  background: #676968;
  &__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    position: relative;
  }
  &__menu{
    display: flex;
  }
  &__code{
    border-radius: 7px;
    border: none;
    margin-right: 20px;
    background-color: #f5f7f6;
  }
  &__style{
    &:nth-child(1){
      background: url('../images/bold.png') center no-repeat;
    }
    &:nth-child(2){
      background: url('../images/italic.png') center no-repeat;
    }
    &:nth-child(3){
      background: url('../images/underline.png') center no-repeat;
    }
    &:nth-child(4){
      background: url('../images/strikethrough.png') center no-repeat;
    }
  }
  &__align{
    &:nth-child(1){
      background: url('../images/left-text.png') center no-repeat;
    }
    &:nth-child(2){
      background: url('../images/center-text.png') center no-repeat;
    }
    &:nth-child(3){
      background: url('../images/right-text.png') center no-repeat;
    }
  }
  &__text{
    display: flex;
    border-radius: 7px;
    background-color: #f5f7f6;
    margin-right: 20px;
    position: relative;
  }
  &__font:nth-child(1){
    background: url('../images/font.png') center no-repeat;
    position: relative;
    &::after{
      content: "";
      display: block;
      border-style: solid;
      border-width: 6px 6px 0 6px;
      border-color: #474948 transparent transparent transparent;
      position: absolute;
      top: 50%;
      right: 0;
      z-index: 1;
      cursor: pointer;
      pointer-events: none;
      transform: translateY(-50%);
    }
  }
  &__font:nth-child(2){
    background: url('../images/font-size.png') center no-repeat;
  }
  &__font:nth-child(3){
    background: url('../images/palette.png') center no-repeat;
  }
  &__font:nth-child(4){
    background: url('../images/image.png') center no-repeat;
  }
  &__font-wrapper{
    position: absolute;
    top: 64px;
    left: -220px;
  }
  &__font-list{
    width: 286px;
    background: #fcfcfa;
    text-align: left;
    border-radius: 7px;
    overflow: hidden;
  }
  &__font-item{
    font-size: 26px;
    padding: 10px 36px;
    &:hover{
      background-color: #0078ff;
      color: #fcfcfa;
    }
  }
  &__font:nth-child(2){
    position: relative;
    &::after{
      content: "";
      display: block;
      border-style: solid;
      border-width: 6px 6px 0 6px;
      border-color: #474948 transparent transparent transparent;
      position: absolute;
      top: 50%;
      right: 0;
      z-index: 1;
      cursor: pointer;
      pointer-events: none;
      transform: translateY(-50%);
    }
  }
  &__size{
    position: absolute;
    top: 64px;
    left: -220px;
  }
  &__size-list{
    width: 286px;
    background: #fcfcfa;
    text-align: left;
    border-radius: 7px;
    overflow: hidden;
  }
  &__size-item{
    font-size: 26px;
    padding: 10px 36px;
    &:hover{
      background-color: #0078ff;
      color: #fcfcfa;
    }
  }
  &__color{
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    background: #fcfcfa;
    z-index: 2;
    border-radius: 7px;
  }
  &__color-title{
    padding: 0 25px;
    font-size: 24px;
    @extend %roboto-700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: rgba(0, 0, 0, .1);
    }
  }
  &__color-list{
    display: flex;
    align-items: center;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: rgba(0, 0, 0, .1);
      z-index: 0;
    }
  }
  &__color-item{
    padding: 13px 40px 7px;
    font-size: 20px;
    color: #2791dd;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    position: relative;
    z-index: 1;
    transition: all .3s;
    cursor: url(../images/cursor.png),pointer;
    &:hover{
      color: #a3a194;
    }
  }
  &__color--active{
    color: #a3a194;
    background-color: #fcfcfa;
    border-left: 2px solid rgba(0, 0, 0, .1);
    border-right: 2px solid rgba(0, 0, 0, .1);
    transition: all .3s;
  }
  &__color-picker{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 745px;
  }
  &__color-cub{
    padding: 48px 45px;
    margin: 5px;
    border-radius: 7px;
    background: #000;
  }
  &__images{
    display: flex;
    flex-wrap: wrap;
    gap: 10px 36px;
    padding: 30px 40px;
    &:nth-child(1){
      background-image: url('../images/bg-images/bg-1.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &__image{
    max-width: 262px;
    max-height: 128px;
    cursor: url(../images/cursor.png),pointer;
    overflow: hidden;
    border-radius: 7px;
    & img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 7px;
      transition: all .3s;
    }
  }
  &__image:hover{
    border: 2px solid #2791dd;
  }
  &__image:hover img{
    transform: scale(1.1);
  }
  &__group{
    padding: 20px 30px;
  }
  &__ghost{
    visibility: hidden; 
    height: 0;
    display: block;
  }
  &__file{
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 7px;
  }
  &__input{
    font-size: 0;
    white-space: nowrap;
  }
  &__choose{
    display: block;
    text-shadow: 0 1px 0 #fff;
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    background-repeat: repeat-x;
    border-color: #ccc;
    color: #333;
    background-color: #fff;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    // vertical-align: middle;
    touch-action: manipulation;
    cursor: url(../images/cursor.png),pointer;
    border: 1px solid transparent;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    &:hover{
      background-color: #e0e0e0;
      background-position: 0 -15px;
    }
  }
  &__control{
    cursor: url(../images/cursor.png),pointer;
    width: 100%;
    margin-bottom: 0;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .08);
    outline: transparent;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }
  &__file:hover{
    border: 2px solid rgba(0, 119, 255, .5);
  }
  &__form-title{
    margin: auto;
    font-weight: 700;
    color: #252420;
    text-align: center;
    line-height: 15px;
    margin-bottom: 12px;
    margin-top: 2px;
  }
  &__form-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 20px 30px;
  }
  &__form{
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 40px -14px rgba(0,0,0,0.25);
    }  
  &__form-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 400px;
  }
  &__form-input{
    color: #384047;
    background-color: #e8eeef;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    margin-bottom: 12px ;
    width: 100%;
    &::placeholder{
      color: #384047;
    }
  }
  &__form-button{
    @extend %roboto-700;
    text-align: center;
    font-size: 19px;
    color: #eaeef1;
    background-color: #1fb56b;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: url(../images/cursor.png),pointer;
    overflow: hidden;
    transition: all 200ms ease-in-out;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
    &:hover{
      box-shadow: 0px 6px 10px rgba(0,0,0,0.3);
      transform: translateY(-4px);
    }
  }
  &__form-required{
    color: #e94744;
    font-size: 14px;
  }
  &__table-list{
    display: flex;
    width: 1150px;
    padding: 25px 25px 20px 25px;
  }
  &__table-col{
    display: flex;
    flex-direction: column;
    width: 100%;
    & + .top__table-col{
      margin-left: 20px;
    }
  }
  &__table-input{
    width: 100%;
    padding: 5px 5px 5px 20px;
    font-size: 16px;
    background: #dfe7ff;
    border: none;
    border-radius: 5px;
  }
  &__table-span{
    display: block;
  }
  &__table-selects{
    display: flex;
    justify-content: space-between;
  }
  &__table-box{
    display: flex;
    flex-direction: column;
    position: relative;
    &::before{
      content: "";
      display: block;
      border-style: solid;
      border-width: 6px 6px 0 6px;
      border-color: #ced0cf transparent transparent transparent;
      position: absolute;
      top: 73%;
      right: 20px;
      z-index: 1;
      cursor: pointer;
      pointer-events: none;
      transform: translateY(-50%);
    }
  }
  &__table-select{
    display: block;
    width: 100%;
    padding: 3px 136px 3px 30px;
    background: #dfe7ff;;
    border: 2px solid #ced0cf;
    border-radius: 3px;
    appearance: none;
    color: #252420;
    border-radius: 7px;
    &:hover,
    &:focus,
    &:focus-visible{
      outline: 0;
      border: 2px solid #0078ff;
    }
  }
  &__table-btns{
    padding: 0 25px 40px 25px;
  }
  &__table-btns-box{
    display: flex;
    justify-content: space-between;
  }
  &__table-required{
    color: #e94744;
    visibility: hidden;
  }
  &__table-button{
    width: 100%;
    padding: 9px 30px;
    border: none;
    border-radius: 5px;
    letter-spacing: 1.5px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: transform .1s cubic-bezier(0.77, 0.2, 0.05, 1);
    border: 2px solid transparent;
    &:active {
      transform: scale(0.97);
    }
    & + .top__table-button{
      margin-left: 20px;
    }
  }
  &__ol{
    padding: 25px 25px 0 25px;
    width: 693px;
  }
}
.bottom{
  height: 100%;
  background: #eaeef1;
  &__inner{
    min-height: 100vh;
    font-size: 25px;
  }
  &__text{
    border: none;
    border-radius: 7px;
    display: block;
    width: 100%;
    padding: 30px 100px;
    height: 100%;
    resize: none;
    margin-bottom: 25px;
    background: inherit;
  }
}




